VITE_PRIVY_APP_ID=
VITE_PRIVY_CLIENT_ID=
VITE_CRYPTO_WORLD_PROFILE=mainnet
VITE_ACROSS_INTEGRATOR_ID=0x0000
VITE_API_BASE_URL=http://localhost:4000
VITE_PARTYKIT_HOST=localhost:1999
VITE_ETHEREUM_RPC_URL=
VITE_BASE_RPC_URL=
VITE_SEPOLIA_RPC_URL=
VITE_BASE_SEPOLIA_RPC_URL=
VITE_UNISWAP_ROUTER_ETHEREUM=
VITE_UNISWAP_ROUTER_BASE=
VITE_AERODROME_ROUTER_BASE=
VITE_AERODROME_FACTORY_BASE=
VITE_ACROSS_SPOKE_POOL_ETHEREUM=
VITE_ACROSS_SPOKE_POOL_BASE=
VITE_WRAPPED_NATIVE_ETHEREUM=
VITE_WRAPPED_NATIVE_BASE=
VITE_USDC_ETHEREUM=
VITE_USDC_BASE=
VITE_USDT_ETHEREUM=
VITE_USDT_BASE=
CRYPTO_WORLD_PROFILE=mainnet
PORT=4000
ETHEREUM_RPC_URL=
BASE_RPC_URL=
SEPOLIA_RPC_URL=
BASE_SEPOLIA_RPC_URL=
UNISWAP_ROUTER_ETHEREUM=
UNISWAP_ROUTER_BASE=
AERODROME_ROUTER_BASE=
AERODROME_FACTORY_BASE=
ACROSS_SPOKE_POOL_ETHEREUM=
ACROSS_SPOKE_POOL_BASE=
WRAPPED_NATIVE_ETHEREUM=
WRAPPED_NATIVE_BASE=
USDC_ETHEREUM=
USDC_BASE=
USDT_ETHEREUM=
USDT_BASE=
ALCHEMY_DATA_API_KEY=
